@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aeonik-Regular";
    src: local("Aeonik-Regular"),
      url(../public/fonts/Aeonik/Aeonik-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: "Aeonik-Medium";
    src: local("Aeonik-Medium"),
      url(../public/fonts/Aeonik/Aeonik-Medium.otf) format("opentype");
  }
}

html {
  /* font-size: 62.5%; */
  scroll-behavior: smooth;
}

body {
  /* font-size: 1.4rem; */
  font-family: "Aeonik-Regular", Courier, monospace;
}

/* body > :first-child */
body > :nth-child(3) {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 1fr auto;
  position: relative;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  display: none;
}
