@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Aeonik-Regular";
    src: local("Aeonik-Regular"),
      url(../public/fonts/Aeonik/Aeonik-Regular.otf) format("opentype");
  }
  @font-face {
    font-family: "Aeonik-Medium";
    src: local("Aeonik-Medium"),
      url(../public/fonts/Aeonik/Aeonik-Medium.otf) format("opentype");
  }
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Aeonik-Regular", Courier, monospace;
}

/* body > :first-child */
body > :nth-child(3) {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 100vw;
  grid-template-rows: auto 1fr auto;
  position: relative;
  /* overflow-x: hidden; */
}

body::-webkit-scrollbar {
  display: none;
}

.branch-svg-lines {
  background-size: cover;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1860 922' width='1860' height='922' preserveAspectRatio='xMidYMid meet' style='width: 100%25%3B height: 100%25%3B transform: translate3d(0px  0px  0px)%3B'%3E%3Cdefs%3E%3CclipPath id='__lottie_element_2'%3E%3Crect width='1860' height='922' x='0' y='0'%3E%3C/rect%3E%3C/clipPath%3E%3C/defs%3E%3Cg clip-path='url(%23__lottie_element_2)'%3E%3Cg transform='matrix(1 0 0 1 1208.6700439453125 336.70098876953125)' opacity='0.8' style='display: block%3B'%3E%3Cg opacity='1' transform='matrix(1 0 0 1 158.95799255371094 155.656005859375)'%3E%3Cpath stroke-linecap='butt' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(150 195 204)' stroke-opacity='1' stroke-width='1' d=' M-158.45899963378906 155.156005859375 C-158.45899963378906 155.156005859375 -158.45899963378906 -155.156005859375 -158.45899963378906 -155.156005859375 C-158.45899963378906 -155.156005859375 137.30299377441406 -155.156005859375 137.30299377441406 -155.156005859375 C137.30299377441406 -155.156005859375 158.45899963378906 -136.7030029296875 158.45899963378906 -136.7030029296875 C158.45899963378906 -136.7030029296875 158.28700256347656 136.552001953125 158.28700256347656 136.552001953125 C158.28700256347656 136.552001953125 137.302001953125 155.15199279785156 137.302001953125 155.15199279785156 C137.302001953125 155.15199279785156 -158.45899963378906 155.156005859375 -158.45899963378906 155.156005859375z'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 1504.5799560546875 -0.3600006103515625)' opacity='0.8' style='display: block%3B'%3E%3Cg opacity='1' transform='matrix(1 0 0 1 175.26300048828125 168.9600067138672)'%3E%3Cpath stroke-linecap='butt' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(150 195 204)' stroke-opacity='1' stroke-width='1' d=' M-174.91099548339844 168.60000610351562 C-174.91099548339844 168.60000610351562 174.91099548339844 -168.60000610351562 174.91099548339844 -168.60000610351562'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 1525.7899169921875 106.39399719238281)' opacity='0.8' style='display: block%3B'%3E%3Cg opacity='1' transform='matrix(1 0 0 1 166.92100524902344 124.83000183105469)'%3E%3Cpath stroke-linecap='butt' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(150 195 204)' stroke-opacity='1' stroke-width='1' d=' M-166.6230010986328 124.42900085449219 C-166.6230010986328 124.42900085449219 166.6230010986328 -124.42900085449219 166.6230010986328 -124.42900085449219'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 -0.13397216796875 -0.48199462890625)' opacity='0.8' style='display: block%3B'%3E%3Cg opacity='1' transform='matrix(1 0 0 1 604.718017578125 169.08200073242188)'%3E%3Cpath stroke-linecap='butt' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(150 195 204)' stroke-opacity='1' stroke-width='1' d=' M604.583984375 168.60000610351562 C604.583984375 168.60000610351562 -604.583984375 -168.60000610351562 -604.583984375 -168.60000610351562'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 -0.1099853515625 647.0250244140625)' opacity='0.8' style='display: block%3B'%3E%3Cg opacity='1' transform='matrix(1 0 0 1 604.6939697265625 136.67999267578125)'%3E%3Cpath stroke-linecap='butt' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(150 195 204)' stroke-opacity='1' stroke-width='1' d=' M604.583984375 -136.19200134277344 C604.583984375 -136.19200134277344 -604.583984375 136.19200134277344 -604.583984375 136.19200134277344'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 1504.6199951171875 647.1189575195312)' opacity='0.8' style='display: block%3B'%3E%3Cg opacity='1' transform='matrix(1 0 0 1 175.27999877929688 137.4040069580078)'%3E%3Cpath stroke-linecap='butt' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(150 195 204)' stroke-opacity='1' stroke-width='1' d=' M-174.968994140625 -137.00999450683594 C-174.968994140625 -137.00999450683594 174.968994140625 137.00999450683594 174.968994140625 137.00999450683594'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3Cg transform='matrix(1 0 0 1 1525.6500244140625 628.4859619140625)' opacity='0.8' style='display: block%3B'%3E%3Cg opacity='1' transform='matrix(1 0 0 1 164.6269989013672 105.27799987792969)'%3E%3Cpath stroke-linecap='butt' stroke-linejoin='miter' fill-opacity='0' stroke-miterlimit='10' stroke='rgb(150 195 204)' stroke-opacity='1' stroke-width='1' d=' M-164.36099243164062 -104.85700225830078 C-164.36099243164062 -104.85700225830078 164.36099243164062 104.85700225830078 164.36099243164062 104.85700225830078'%3E%3C/path%3E%3C/g%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}

.branch-svg-curved-lines {
  background-size: cover;
  background-position: bottom;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1440' height='560' preserveAspectRatio='none' viewBox='0 0 1440 560'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1003%26quot%3b)' fill='none'%3e%3crect width='1440' height='560' x='0' y='0' fill='rgba(36%2c 60%2c 90%2c 1)'%3e%3c/rect%3e%3cpath d='M344.77 589.1C537.73 575.78 676.68 204.94 1016 204.39 1355.31 203.84 1513.18 387.51 1687.22 389.19' stroke='rgba(229%2c 229%2c 229%2c 0.61)' stroke-width='2'%3e%3c/path%3e%3cpath d='M438.91 607.75C570.74 570.99 526.17 203.86 807.48 202.95 1088.79 202.04 1353.93 397.29 1544.61 398.95' stroke='rgba(229%2c 229%2c 229%2c 0.61)' stroke-width='2'%3e%3c/path%3e%3cpath d='M623.34 629.29C798.94 596.49 883.32 155.23 1156.66 153.75 1430 152.27 1544.35 383.8 1689.98 388.95' stroke='rgba(229%2c 229%2c 229%2c 0.61)' stroke-width='2'%3e%3c/path%3e%3cpath d='M777.84 615.48C933.95 582.66 999.59 179.9 1241.42 176.99 1483.25 174.08 1582.22 337.06 1705 339.39' stroke='rgba(229%2c 229%2c 229%2c 0.61)' stroke-width='2'%3e%3c/path%3e%3cpath d='M106.65 562.19C306.72 547.26 449.76 153.78 797.31 153.53 1144.85 153.28 1304.2 401.63 1487.96 405.53' stroke='rgba(229%2c 229%2c 229%2c 0.61)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1003'%3e%3crect width='1440' height='560' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}

/* --------------------------------------------- swiper --------------------------------------------- */

.swiper-pagination {
  margin-top: 15px;
  margin-bottom: 2px;
  border-bottom: 1px solid #075985;
}

.swiper-pagination-bullet {
  display: none;
}

.swiper-pagination-bullet-active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  /* color: #e5e5e5; */
  color: #075985;
  font-size: 30px;
  line-height: 34px;
  font-weight: 300;
  text-align: left;
  font-family: "Noto Sans", sans-serif;
}

#SwiperClients .swiper-pagination {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  border-bottom: none;
}

#SwiperClients .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 4px;
  display: inline-block;
  background-color: #e5e5e5;
  border-radius: 50%;
}

#SwiperClients .swiper-pagination-bullet-active {
  background-color: #075985;
}

.swiper-slide:nth-child(1n) {
  width: 80%;
}

.swiper-slide:nth-child(2n) {
  width: 80%;
}

.swiper-slide:nth-child(3n) {
  width: 80%;
}
.swiper-slide:nth-child(4n) {
  width: 80%;
}
.swiper-slide:nth-child(5n) {
  width: 80%;
}
.swiper-slide:nth-child(6n) {
  width: 80%;
}

/* ripples */
span.ripple {
  position: absolute; /* The absolute position we mentioned earlier */
  border-radius: 50%;
  transform: scale(0);
  animation: ripple 600ms linear;
  background-color: rgba(255, 255, 255, 0.7);
}
